#net {
    background-color: aqua;
}

.flag {
    width: 100px;
    aspect-ratio: 4/3;
}

#tmdb_logo {
    width: 100px;
}

.watchlist_btn {
    box-shadow: none;
    border-style: none;
    white-space: nowrap;
}

/* .search_bar:focus {
    box-shadow: none;
} */

/* #recommendations {
    max-height: 300px;
    max-width: auto;
    overflow-y:hidden;
    overflow-x:scroll;
} */