{% extends 'base.html' %}
{% block content %}
<!-- This div section contains all import movie details -->
    <div class="container-fluid">
        <div class="card mb-3">
            <div class="row g-0">
                <div class="col-md-4">
                    {% if  movie_data.poster_path %}
                        <img src="https://image.tmdb.org/t/p/w342{{movie_data.poster_path}}" class="img-fluid rounded-start" alt="Movie Poster">
                    {% else %}
                        <img src="https://img.icons8.com/ios-filled/100/no-image.png" alt="no-image" class="img-fluid"/>
                    {% endif %}
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h1 class="card-title">
                            {{movie_data.title}}
                        </h1>
                        <p class="card-text">
                            Run Time: {{movie_data.runtime}}min
                        </p>
                        <p class="card-text">
                            Genres: 
                            {% for genre in movie_data.genres %}
                                {{genre.name}}-
                            {% endfor %}
                        </p>
                        <p class="card-text">
                            Original Language: {{movie_data.original_language}}
                        </p>     
                        <p class="card-text">
                            Release Date: {{movie_data.release_date}}
                        </p>                                              
                        <h4 class="card-subtitle mb-2">
                            Overview
                        </h4>                        
                        <p class="card-text">{{movie_data.overview}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

<!-- This div section contains streaming data by country -->
    <div class="container-fluid">
        <div class="row">
            <!-- rows containing streaming providers seperated by type(called type) -->
            <div class="col">
                {% for type in movie_data['watch/providers'].results[country_selection] %}
                    {% if type != 'link'%}
                        <div class="container">
                            <h3>{{type}}</h3>
                            <div class="d-flex flex-row mb-3">
                                {% for provider in movie_data['watch/providers'].results[country_selection][type] %}
                                    <div class="p-2">
                                        <img src="https://image.tmdb.org/t/p/w92{{provider.logo_path}}" alt="{{provider.provider_name}}" class="img-fluid">
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            <!-- search bar for user to select country they want streaming data for -->
            <div class="col-3">
                <form action="/movie/{{movie_data.id}}">
                    <div class="row mb-3">
                        <div class="col-sm-10">
                            <div class="form-group">
                                <select class="" id="country" name="country" required>
                                    {% for country in region_data.results %}
                                        {% if country.iso_3166_1 == country_selection %}
                                            <option value="{{country.iso_3166_1}}" selected>
                                                {{country.native_name}}
                                            </option>
                                        {% else %}
                                            <option value="{{country.iso_3166_1}}">
                                                {{country.native_name}}
                                            </option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>        
                </form>    
            </div>
        </div>
    </div>



<!-- This div section contains streaming data by streaming provider. Testing with Netflix hardcoded -->
<div class="container-fluid">
    <div class="row">
        <!-- rows containing streaming providers seperated by type(called option) -->
        <div class="col">
            <h3>Netflix</h3>
            <div class="container">
                <div class="d-flex flex-row mb-3">
                    {% for country in movie_data['watch/providers'].results %}
                        <div class="d-flex flex-row mb-3">
                            {% for type in movie_data['watch/providers'].results[country] %}
                                {% if type != 'link'%}
                                    {% for provider in movie_data['watch/providers'].results[country][type] %}
                                        {% if provider.id == 8%}
                                        <div class="p-2">
                                            <img src="https://image.tmdb.org/t/p/w92{{provider.logo_path}}" alt="{{provider.provider_name}}" class="img-fluid">
                                        </div>
                                    {% endfor %}
                                {% endif %}
                            {% endfor %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

        <!-- search bar for user to select country they want streaming data for -->
<!-- <div class="col-3">
    <form action="/movie/{{movie_data.id}}">
        <div class="row mb-3">
            <div class="col-sm-10">
                <div class="form-group">
                    <select class="" id="country" name="country" required>
                        {% for country in region_data.results %}
                            {% if country.iso_3166_1 == country_selection %}
                                <option value="{{country.iso_3166_1}}" selected>
                                    {{country.native_name}}
                                </option>
                            {% else %}
                                <option value="{{country.iso_3166_1}}">
                                    {{country.native_name}}
                                </option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
        <div class="">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>        
    </form>    
</div> -->