{% extends 'base.html' %}
{% block content %}
    <div class="container-fluid">
        <h1 class="text-center">About Global Streaming Search</h1>
        <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nesciunt placeat in numquam cumque iste, temporibus dolorem aliquid quae, minus eius illum. Ratione possimus officia accusamus quam consequatur obcaecati aut ab!
        </p>
        <div>
            <h2>Movie and TV Data Source</h2>
            <p>
                This product uses the TMDB API but is not endorsed or certified by TMDB. <img src="https://www.themoviedb.org/assets/2/v4/logos/v2/blue_short-8e7b30f73a4020692ccca9c88bafe5dcb6f8a62a4c6bc55cd9ba82bb2cd95f6c.svg" alt="TMDB Logo" class="" id="tmdb_logo">
            </p>
        </div>

        <div>
            <h2>Flag Icons</h2>
            <p>
                The flag icons were sourced from <a href="https://github.com/lipis/flag-icons">flag-icons</a>, which has a curated collection of all country flags in SVG — plus the CSS for easier integration.
            </p>
        </div>        
    </div>
{% endblock %}