{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <div class="my-5">
            <h1 class="text-center mb-3">About Global Streaming Search</h1>
            <p>
                Global Streaming Search will help you easily find on what platforms your favorite movies and TV shows are streaming. You can view streaming availablitiy by country to see all streaming platform that has that movie or TV show available.

                Another way to view streaming availablility is by streaming platform. You can select a streaming platform and see which countries have the movie or TV show it available.
            </p>
        </div>
        <div class="mb-4">
            <h2>Movie and TV Data Source</h2>
            <p>
                This website uses TMDB and the TMDB APIs, but is not endorsed, certified, or otherwise approved by TMDB. <img src="/static/images/tmdb.svg" alt="TMDB Logo" class="" id="tmdb_logo">
            </p>
        </div>

        <div class="mb-5">
            <h2>Streaming Data Source</h2>
            <p>
                The Streaming info in this application comes from JustWatch. Visit  <a href="https://www.justwatch.com/">JustWatch</a> for more information. <img src="/static/images/justwatch.svg" alt="Just Watch Logo" class="" id="tmdb_logo">
            </p>
        </div>        

        <div class="mb-5">
            <h2>Flag Icons</h2>
            <p>
                The flag icons were sourced from <a href="https://github.com/lipis/flag-icons">flag-icons</a>, which has a curated collection of all country flags in SVG — plus the CSS for easier integration.
            </p>
        </div>        
    </div>
{% endblock %}