{% extends 'base.html' %}
{% block content %}

<!-- This div section contains all import movie details -->
<div class="container-fluid">
    <div class="card my-5">
        <div class="row g-0">
            <div class="col-md-4">
                {% if  movie_data.poster_path %}
                    <img src="https://image.tmdb.org/t/p/w342{{movie_data.poster_path}}" class="img-fluid rounded-start" alt="Movie Poster">
                {% else %}
                    <img src="https://img.icons8.com/ios-filled/100/no-image.png" alt="no-image" class="img-fluid"/>
                {% endif %}
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h1 class="card-title">
                        {{movie_data.title}}
                    </h1>
                    <p class="card-text">
                        Run Time: {{movie_data.runtime}}min
                    </p>
                    <p class="card-text">
                        Genres: 
                        {% for genre in movie_data.genres %}
                            {{genre.name}}-
                        {% endfor %}
                    </p>
                    <p class="card-text">
                        Original Language: {{movie_data.original_language}}
                    </p>     
                    <p class="card-text">
                        Release Date: {{movie_data.release_date}}
                    </p>                                              
                    <h4 class="card-subtitle mb-2">
                        Overview
                    </h4>                  
                    <p class="card-text">{{movie_data.overview}}</p>
                    <form action="/add/watchlist/movie/{{movie_data.id}}" method="POST">
                        <button class="btn btn-primary btn-sm">
                            <i class="fa-regular fa-bookmark"></i> Add to WatchList
                        </button>
                    </form>

                    <form action="#" method="POST">
                        <button class="btn btn-danger btn-sm">
                            <i class="fa-solid fa-bookmark"></i> Remove from WatchList
                        </button>
                    </form>
                    <!-- <a href="#" class="btn btn-primary"><i class="fa-regular fa-bookmark"></i> Add to WatchList</a> -->
                </div>
            </div>
        </div>
    </div>
</div>


<!-- This div section contains streaming data by country -->
<div class="container-fluid">
    <div class="row mb-5">
        <!-- rows containing streaming providers seperated by type(called type) -->
        <div class="col-9">
            <h2 id="net">{{get_country_name(country_selected)}}</h2>
            <!-- loop over the provider types(ex: rent, buy) for selected country -->
            {% for type in movie_data['watch/providers'].results[country_selected] %}
                {% if type != 'link'%}
                    <div class="container mb-5">
                        {% if type == 'flatrate' %}
                            <h3>Stream</h3>
                        {% else %}
                            <h3>{{type.capitalize()}}</h3>
                        {% endif %}
                        <div class="row row-cols-1 row-cols-md-5 g-4">
                            <!-- loop over provider(Netflix, MAX) for the current provider type -->
                            {% for provider in movie_data['watch/providers'].results[country_selected][type] %}
                                <div class="col">
                                    <div class="card h-100">
                                        <img src="https://image.tmdb.org/t/p/w92{{provider.logo_path}}" alt="{{provider.provider_name}}" class="card-img-top">
                                        <div class="card-body">
                                            <h5 class="card-title">{{provider.provider_name}}</h5>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>

        <!-- search bar for user to select country they want streaming data for -->
        <div class="col-3">
            <form action="{{url_for('movie_detail', movie_id=movie_data.id)}}">
                <select id="country" name="country" required>
                    {% for country in countries.results %}
                        {% if country.iso_3166_1 == country_selected %}
                            <option value="{{country.iso_3166_1}}" selected>
                                {{country.native_name}}
                            </option>
                        {% else %}
                            <option value="{{country.iso_3166_1}}">
                                {{country.native_name}}
                            </option>
                        {% endif %}
                    {% endfor %}
                </select>
                <div class="mt-3">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>        
            </form>    
        </div>
    </div>
</div>



<!-- This div section contains streaming data by streaming provider. -->
<div class="container-fluid">
    <div class="row mb-5">
        <!-- column displays all countries flags where the movie is available for the selected provider -->
        <div class="col-9">
            <h2 id="net">{{provider_name}}</h2>
            <div class="container">
                <div class="row row-cols-1 row-cols-md-5 g-4">
                    <!-- loop over countries from watch provider result -->
                    {% for country in movie_data['watch/providers'].results %}
                        <!-- use namespace object to track when selected provider is found for current country in loop. This is to prevent duplicate flags from being displayed like with Crunchyroll -->
                        {% set ns = namespace(found=false) %}                    
                        <!-- loop over the provider types(ex: rent, buy) for selected country -->
                        {% for type in movie_data['watch/providers'].results[country] %}
                            {% if type != 'link'%}
                                <!-- loop over provider(Netflix, MAX) for the current provider type -->
                                {% for provider in movie_data['watch/providers'].results[country][type] %}
                                    {% if provider.provider_id == provider_selected and not ns.found %}
                                        <!-- flags -->
                                        <div class="col">
                                            <div class="card h-100">
                                                <img src="/static/images/flags/{{country.lower()}}.svg" alt="{{country}}" class="card-img-top">
                                                <div class="card-body">
                                                    <h5 class="card-title">{{get_country_name(country)}}</h5>
                                                </div>    
                                            </div>
                                        </div>
                                        {% set ns.found = true %}
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                </div>
            </div>
        </div>

        <!-- streaming_providers search bar list -->
        <div class="col-3">
            <form action="{{url_for('movie_detail', movie_id=movie_data.id)}}">
                <select id="streamingProvider" name="streamingProvider" required>
                    <!-- loop over list of poviders -->
                    {% for provider in providers.results %}
                        {% if provider.provider_id == provider_selected %}
                            <option value="{{provider.provider_id}}" selected>
                                {{provider.provider_name}}
                            </option>
                        {% else %}
                            <option value="{{provider.provider_id}}">
                                {{provider.provider_name}}
                            </option>
                        {% endif %}
                    {% endfor %}
                </select>
                <div class="mt-3">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>        
            </form>    
        </div>        
    </div>
</div>
{% endblock %}